/* utility classes */

.flex {
    display: flex;
    align-items: center;
    gap: 10px;
    /* justify-content: center; */
}

.space-between {
    justify-content: space-between;
}

.bold {
    font-weight: 900;
}

.selected {
    background: #D6F4FF;
    font-weight: 600;
}


/* container class */
.container {
    padding: 30px;
}


/* nav bar */

.Nav {
    margin-left: 15px;
}
.Nav img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.Nav .logo {
    color: #172B4D;
    cursor: pointer;
}


/* menu bar */

.menu-container {
    margin-top: 20px;
    flex: 1;
    align-self: start;
}
.menu-item {
    padding: 15px;
    border-radius: 8px;
    margin-block: 5px;
}
.menu-container .menu-item:hover {
    translate: 5px;
}
.menu-item:hover {
    cursor: pointer;    
}


/* upskill container */

.upskill-container {
    flex: 5;
    align-self: start;
    margin-top: 20px;
    padding: 30px;
    margin-left: 30px;
    border: 1px solid #A4E6FF;
    border-radius: 16px;
}

.upskill-header {
    justify-content: space-between;
}
.upskill-header .left {
    background: linear-gradient(180deg, #EFF5FF 0%, rgba(239, 245, 255, 0) 100%);
    border-radius: 14.67px;
    padding: 20px;
}
.upskill-header .highlighted {
    background: #FFFFFF;
    border: 0.92px solid;
    border-image-source: linear-gradient(104.1deg, #05445E -162.17%, #D2E3FF 100%);
    box-shadow: 0px 3.67px 3.67px 0px #29539B4D;
    border-radius: 11px;    
}
.upskill-header .right {
    background: #FFFFFF4D;
    border: 1px solid #99E4FF;
    border-radius: 12px;
}


/* chaper section */

.chapters {
    flex: 2;
    align-self: start;
    padding-top: 20px;
}

.chapter-item {
    padding: 25px 16px 25px 16px;
    border-radius: 8px;
}

.chapter-item .chapter-name {
    cursor: pointer;
}

.chapters .border {
    height: 0.5px; 
    background-image: linear-gradient(90deg, rgba(143, 223, 255, 0) 0%, #8FDFFF 49.99%, rgba(143, 223, 255, 0) 100%);
}

.selected-chapter {
    background: #EFF5FF;
    justify-content: space-between;
}

.selected-chapter-name {
    font-weight: 600;
}

.detail {
    align-self: start;
    flex: 5;
    margin: 10px;
    padding-block: 10px;
}


/* chapter content section */

.chapter-content {
    padding: 15px;
}


.chapter-content-header {
    justify-content: space-between;
    border: 1px solid;
    border-image-source: linear-gradient(180deg, rgba(164, 230, 255, 0) 12.84%, #A4E6FF 120.5%);
    border-radius: 16px;
}

.chapter-content .title {
    font-weight: 600;
    font-size: 1.1rem;
    margin-top: 5px;
    cursor: pointer;
}

.chapter-content .open-close-img {
    cursor: pointer;
}

.percentage-indicator {
    background: #EFF5FF;
    border-radius: 8px;
    justify-self: right;
    padding: 4px 10px;
    margin-block: 10px;
}



/* chapter details section */
.chpater-details-item {
    padding: 1.3rem;
    justify-content: space-between;
}

.chapter-details .border{
    height: 1px; 
    background-image: linear-gradient(90deg, rgba(23, 43, 77, 0) 0%, #172B4D 49.54%, rgba(5, 68, 94, 0) 100%);
}